NODE_ENV=development

# PostgreSQL
POSTGRES_USER=Kovara
POSTGRES_PASSWORD=Kovara
POSTGRES_DB=Kovara
DATABASE_URL=postgresql://Kovara:Kovara@postgres:5432/Kovara

# Stellar
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
CONTRACT_ID=CXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
START_LEDGER=0

# Indexer API
PORT=3000
